# Python cache
__pycache__/
*.pyc

# Conda / venv junk
.env
.venv/
*.log

# Datasets and patches (they will re-create locally)
data/
UAVid_patches/
extra_space/
Downloads/

# Training outputs
lightning_logs/
model_weights/
fig_results/

# Big model files just in case
*.ckpt
*.pth
*.pt
